train_dir=/Users/hiroto/SubwordSequenceLabeling/Repository/Chendner/train.bioes
dev_dir=/Users/hiroto/SubwordSequenceLabeling/Repository/Chendner/train.bioes
test_dir=/Users/hiroto/SubwordSequenceLabeling/Repository/Chendner/train.bioes
model_dir=/Users/hiroto/SubwordSequenceLabeling/Repository/NERModel/csw
lm_dir=/Users/hiroto/SubwordSequenceLabeling/Repository/LargeCorpus/large_corpus.txt
word_emb_dir=/Users/hiroto/SubwordSequenceLabeling/Repository/GloVe/watanabe.word2vec.dim50

sw_num=1
sentence_piece_dirs=[/Users/hiroto/SubwordSequenceLabeling/Repository/SentencePiece/sp4000.model]

norm_word_emb=False
norm_char_emb=False
number_normalized=True
cammel_normalized=True
word_emb_dim=50
char_emb_dim=30
sw_emb_dim=50

###TrainingSetting###
optimizer=SGD
iteration=150
batch_size=10
ave_batch_loss=False

###Hyperparameters###
char_hidden_dim=50
sw_hidden_dim=50
hidden_dim=100
dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=0.005
lr_decay=0.0001
momentum=0
l2=1e-8
gpu=False
clip=5.0